WALLPAPER_OUTPUT_DIR=/path/to/your/download/folder
DISCORD_USER_TOKEN=grok through your session for an auth header
DISCORD_CHANNELS=commas separated list of channel ids (numeric), in pipe delimited pairs ie 111|channel1,222|channel2

NOTIFY_SERVER=localhost:8080
NOTIFY_SERVER_TOKEN=your pre shared auth token